* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        family: 'Poppins', sans-serif;
        size: 16px;
        weight: 400;
    }
    line-height: 1.5;
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.container {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    .header {
        margin-bottom: 4rem;
    }
    .hero {
        margin-top: 1rem;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .text {
            margin: {
                top: -6rem;
                left: 3rem;
            }
            h1 {
                color: #fff;
                font: {
                    size: 3.25rem;
                    weight: 600;
                }
                line-height: 1.5;
            }
            p {
                color: #fff;
                line-height: 1.6;
                margin-top: 1rem;
            }
            .btn {
                margin-top: 1rem;
                color: hsl(257, 40%, 49%);
                font: {
                    size: 1.125rem;
                    weight: 400;
                }
                background-color: #fff;
                border-radius: 1.875rem;
                border: none;
                outline: none;
                cursor: pointer;
                box-shadow: .3125rem .625rem 625rem rgb(0 0 0 / 30%);
                margin: {
                    top: 1.5rem;
                }
                padding: 1.125rem 5rem;
                transition: all .4s ease;
                &:hover {
                    color: #fff;
                    background-color: hsl(300, 69%, 71%);
                }
            }
        }
    }
    .social-icons {
        font-size: 2rem;
        display: flex;
        justify-content: flex-end;
        a {
            margin-left: 1.5rem;
            i {
                transition: all .4s ease;
                color: #fff;
                &:hover {
                    color: hsl(300, 69%, 71%);
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0 auto;
        .header {
            padding: 1rem 0;
        }
        .content {
            margin-top: -1rem;
            .hero {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                .text {
                    margin-top: 1rem;
                    h1 {
                        font-size: 1.5rem;
                    }
                    p {
                        margin-top: 2rem;
                        font-size: .875rem;
                    }
                    .btn {
                        margin: {
                            top: 2rem;
                            right: 2rem;
                        }
                    }
                }
            }
        }
        .social-icons {
            margin-top: 2rem;
            justify-content: center;
            i {
                a {
                    margin: {
                        left: 2.5rem;
                    }
                }
            }
        }
    }
}